<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="line" class="com.test.sample.spring.di.common.Line">
        <property name="points">
            <list>
                <ref bean="point1"/>
                <ref bean="point2"/>
                <ref bean="point3"/>
            </list>
        </property>
    </bean>
    <bean id="point1" class="com.test.sample.spring.di.common.Point">
        <property name="x" value="0"/>
        <property name="y" value="0"/>
    </bean>
    <bean id="point2" class="com.test.sample.spring.di.common.Point">
        <property name="x" value="20"/>
        <property name="y" value="10"/>
    </bean>
    <bean id="point3" class="com.test.sample.spring.di.common.Point">
        <property name="x" value="30"/>
        <property name="y" value="30"/>
    </bean>

</beans>